# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
__pycache__

# Virtual environment
venv/
env/
ENV/

# Dependency directories and files
lib/
lib64/
__pypackages__/
pip-selfcheck.json
temp-extraction/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.log
*.out
*.json
*.png
*.zip
*.jpg

# Jupyter Notebook
.ipynb_checkpoints/

# IDE-specific files and directories
.idea/
.vscode/

# Editor/IDE backup and temp files
*~
*.swp
*.swo
*.bak
*.backup

# Local development settings
.env

# Miscellaneous
.DS_Store
Thumbs.db

# Ignore compiled Python extensions
*.pyd
*.so
*.dll
*.pyo
*.pyc